/* ••• Header ••• */

header{
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #fff;
    background-color: #00000030;
    backdrop-filter: blur(15px);
    align-items: center;

    a.logo{
        position: relative;
        width: 170px;
        height: 50px;
        margin-left: 100px;
        background-image: url(../img/header/logo.png);
        background-repeat: no-repeat;
        background-position: 0;
        background-size: contain;
        transition: 100ms;

        @media screen and (max-width: 500px){
            margin-left: 20px;
        }

        @media screen and (max-width: 310px){
            display: none;
        }
    }

    nav{
        position: relative;
        display: flex;
        margin-right: 100px;
        transition: 100ms;

        @media screen and (max-width: 500px){
            margin-right: 20px;
        }
        
        @media screen and (max-width: 310px){
            width: 100%;
            margin-right: 55px;
            justify-content: right;
        }

        a.phone__button{
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            background-image: url(../img/header/phone.svg);
            margin-right: 55px;
            background-size: contain;
            transition: 300ms;

            &:hover{
                transition: 300ms;
                transform: scale(1.1);
            }
        }

        button.menu__button{
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            background-image: url("../img/header/menu.svg");
            background-color: transparent;
            cursor: pointer;
            background-size: contain;
            
        }
    }
}

/* ••• Header End ••• */

